<!DOCTYPE html>
<html lang="en">

    <head>
        <!--Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap-social/bootstrap-social.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
        <title>Movie Recommendation</title>
    </head>

<body>
    {% extends "navbar.html" %}
    {% block content %}

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="templates/index.html">Home</a></li>
                <li class="breadcrumb-item"><a>About</a></li>
            </ol>
            <div>
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        


        <div  class="row row-content">
            <div class="col-12 col-sm-12">
                <h2>Group Information</h2>
                 <div id="accordion">
                    <div class="card">
                        <div class="card-header" role="tab" id="jainamhead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#jainam">
                                    Jainam Shah 
                                </a>
                            </h3>
                        </div>
                        <div class="collapse" id="jainam" data-parent="#accordion">
                            <div class="card-body"> <!--Why another div ? why not in same div above?-->
                                <p  class="d-none d-sm-block">Roll No 1811085 . Worked on Front-End,Flask Web App and Image-Scrapping for the Application .</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="ojasvihead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#ojasvi">
                                Ojasvi Naik
                                </a>
                            </h3>
                        </div>
                        <div class="collapse" id="ojasvi" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Roll No 1811098 . Worked on Front End</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="nishanthead">
                            <h3 class="mb-0">
                                <a  data-toggle="collapse" data-target="#nishant">
                                    Nishant Pal 
                                </a>
                            </h3>
                        </div>
                        <div class="collapse  show" id="nishant" data-parent="#accordion">
                            <div class="card-body"> <!--Why another div ? why not in same div above?-->
                                <p class="d-none d-sm-block">Roll No 1811101 . Worked on Database and Program to find similar movies.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
                
        </div>
    

    <footer class="footer">
        <div class="container">
            <div class="row row-content">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <!--<li><a href="#">Blog</a></li>-->
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <address>
                        <i class="fa fa-phone fa-lg"></i>: +123 4567 8910<br>
                        <i class="fa fa-envelope fa-lg"></i>: 
                        <a href="mailto:somemail@mail.net">somemail@mail.net</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center ">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2021 MovieRecommendation</p>
                </div>
           </div>
        </div>
    </footer>
    {% endblock %}
<!--jQuery first,then Popper.js,then Bootstrap JS-->
<script src="static/scripts/jquery/dist/jquery.slim.min.js"></script>
<script src="static/scripts/popper.js/dist/umd/popper.min.js"></script>
<script src="static/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
    
</body>

</html>
