<!DOCTYPE html>
<html lang="en">

    <head>
        <!--Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap-social/bootstrap-social.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
        <title>Movie Recommendation</title>
    </head>

<body>
    {% extends "layout.html" %}
    {% block content %}

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="templates/index.html">Home</a></li>
                <li class="breadcrumb-item"><a>About</a></li>
            </ol>
            <div class="col-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        


        <div  class="row row-content">
            <div class="col-12 col-sm-12">
                <h2>Group Information</h2>
                 <div id="accordion">
                    <div class="card">
                        <div class="card-header" role="tab" id="jainamhead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#jainam">
                                    Jainam Shah 
                                </a>
                            </h3>
                        </div>
                        <div class="collapse" id="jainam" data-parent="#accordion">
                            <div class="card-body">
                                <p  class="d-none d-sm-block">Roll No 1811085. Worked on Front-End,Flask Web App and Image-Scrapping for the Application.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="ojasvihead">
                            <h3 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#ojasvi">
                                Ojasvi Naik
                                </a>
                            </h3>
                        </div>
                        <div class="collapse" id="ojasvi" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Roll No 1811098. Worked on Front End.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="nishanthead">
                            <h3 class="mb-0">
                                <a  data-toggle="collapse" data-target="#nishant">
                                    Nishant Pal 
                                </a>
                            </h3>
                        </div>
                        <div class="collapse show" id="nishant" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Roll No 1811101. Worked on Database and Program to find similar movies.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
                
        </div>
    
    <script src="static/scripts/jquery/dist/jquery.slim.min.js"></script>
<script src="static/scripts/popper.js/dist/umd/popper.min.js"></script>
<script src="static/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endblock %}
<!--jQuery first,then Popper.js,then Bootstrap JS-->

</body>
    
</body>

</html>
