<!DOCTYPE html>
<html lang="en">

    <head>
        <!--Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap/dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap-social/bootstrap-social.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
        <title>Movie Recommendation</title>
        <style>
            /* h2{
                color: aliceblue;
            } 
        
            img {
                
            }*/
            .contain {  
                background: url('../static/img/contact.jpg') no-repeat center; 
                background-size: cover;
            }
        </style>
    </head>

<body>
    {% extends "layout.html" %}
    {% block content %}
    <div class="contain">
    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Contact Us</li>
            </ol>
            <div class="col-12">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>

        <!-- <div class="row row-content">
           <div class="col-12">
              <h3>Contact Information</h3>
           </div>
            <div class="col-12 col-sm-4 offset-sm-1">
                <i class="fa fa-phone fa-lg"></i>: +123 4567 8910<br>
                <i class="fa fa-envelope fa-lg"></i>: 
                <a href="mailto:somemail@mail.net">somemail@mail.net</a>
		         
            </div>
            
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary" href="tel:+8521234537"><i class="fa fa-phone"></i> Call</a>
                    <a role="button" class="btn btn-info" ><i class="fa fa-skype"></i> Skype</a>
                    <a role="button" class="btn btn-success" href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> E-Mail</a>
                </div>
            </div>
        </div> -->
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row row-content">
           <div class="col-12">
              <h3>Send us your Feedback</h3>
           </div>
            <div class="col-12 col-md-9">
                <form onSubmit="alert('Thank you for your valuable feedback.');">
                    <div class="form-group row">
                        <label for="firstname" class="col-md-2 col-form-label" >First Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastname" class="col-md-2 col-form-label" >Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telnum" class="col-12 col-md-2 col-form-label" >Contact No.</label>
                        <div class="col-5 col-md-3">
                            <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area Code">
                        </div>
                        <div class="col-7 col-md-7">
                            <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel Num.">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emailid" class="col-md-2 col-form-label" >E-mail</label>
                        <div class="col-md-10">
                            <input type="email" class="form-control" id="emailid" name="emailid" placeholder="yourmailid@mailname.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 offset-md-2">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="approve" id="approve" value="">
                                <label class="form-check-label" for="approve">
                                    <strong>May we contact you?</strong>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-1">
                            <select class="form-control">
                                <option>Tel.</option>
                                <option>Email</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col-md-2 col-form-label" >Your Feedback</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md-2 col-md-10">
                            <button type="submit" class="btn btn-primary">
                                Send Feedback
                            </button>
                        </div>
                    </div>

                </form>
            </div>
             <div class="col-12 col-md">
            </div>
       </div>

    </div>

    <script src="static/scripts/jquery/dist/jquery.slim.min.js"></script>
    <script src="static/scripts/popper.js/dist/umd/popper.min.js"></script>
    <script src="static/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->

</body>

</html>
