<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap-social/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel = "stylesheet" href = ../static/styles/styles.css/>
    <title>Movie Recommendation</title>
    <style>
        h3{
            text-align: justify;
        }
    </style>
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}

    <div class="container">
        <div class="row row-content">
            <h3>Error ! Unfortunately the requested movie isn't present in our Database.<br> We are working on updating our Database with new movies. Thank You for your patience !</h3>
        </div>
    </div>

    

<script src="static/scripts/jquery/dist/jquery.slim.min.js"></script>
<script src="static/scripts/popper.js/dist/umd/popper.min.js"></script>
<script src="static/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    {% endblock %}
<!--jQuery first,then Popper.js,then Bootstrap JS-->
</body>

</html>
