<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap-social/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Movie Recommendation</title>
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}
   
    

    

    <div class="container">
        <div class="row row-content align-items-center">
            <form class="col-12" action="/movieIn" method="POST" autocomplete="off">
                
                <h1 class="inputhead">Type The Movie You Like!</h1>
                 
                <div class="input-group">
                    <div class='col-xs-12 col-sm-12 col-md-10 col-lg-10'>
                        <input class="form-control moviename" type="text" id="autocomplete" name="moviename" placeholder="Enter a movie">
                    </div>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-block gobtn">
                            GO
                        </button>
                    </span>
                </div>
         </form>

        </div>
    </div>
        <div class="container">
        <div class="row row-content">
            <div class="col">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox"> 
                        <div class="carousel-item active">
                            <img class="d-block img-fluid col-md-4"
                            src="static/img/spiderman.jpg" alt="spiderman">
                            <div class="carousel-caption d-none d-md-block offset-4">
                                <h2>Comic Book Movies!</h2>
                                <p class="d-none d-sm-block" style="margin-bottom: 100px;">Love Superhero Movies ? Type in one to find more like your favourite comic book movie! </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid col-md-4"
                            src="static/img/bond.jpg" alt="bond"
                            >
                            <div class="carousel-caption d-none d-md-block offset-4">
                                <h2>Prefer Spys?</h2>
                                <p class="d-none d-sm-block" style="margin-bottom: 100px;">Have already seen James Bond and want to see more like that? Type it in!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid col-md-4"
                            src="static/img/batmanbeg.jpg" alt="batman" 
                            >
                            <div class="carousel-caption d-none d-md-block offset-4">
                                <h2>Movie of the Week</h2>
                                <h4>Batman Begins</h4>
                                <p class="d-none d-sm-block">The beginning to one of the most critically acclaimed Superhero franchise of all time , Batman Begins is amazing watch wether first time or the 100th! Watch it along with us this week and if you have already seen then go type it in the search box to find more like it!</p>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>      
    </div>
        
   

    <script src="static/scripts/jquery/dist/jquery.slim.min.js"></script>
<script src="static/scripts/popper.js/dist/umd/popper.min.js"></script>
<script src="static/scripts/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript">
var mov_json='{{ mov_list|tojson }}'
var mov_list=JSON.parse(mov_json)
//var mov_list=['All','Avatar','Spider-Man']
  function autocomplete(inp, arr) {
    //alert(mov_list[0]);
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value=\"" + arr[i] + "\">";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}

autocomplete(document.getElementById("autocomplete"), mov_list)
</script>
    {% endblock %}
<!--jQuery first,then Popper.js,then Bootstrap JS-->


</body>

</html>