<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mr-auto" href="#"><img src="static/img/logo.png" height="40" width="40"></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/"></span> Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus"></span> About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contactus"></span> Contact</a></li>
                </ul>
                <!--span class="navbar-text">
                    <a data-toggle="modal" data-target="#loginModal">
                        <span class="fa fa-sign-in"> Login</span>
                    </a>
                </span-->
            </div>
        </div>
    </nav>
    <!--div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputEmail3">Email addresses</label>
                                <input type="email" class="form-control form-control-sm mr-1" id="exampleInputEmail3" placeholder="Enter email">
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="sr-only" for="exampleInputPassword3">Enter Password</label>
                                <input type="password" class="form-control form-control-sm mr-1" id="exampleInputPassword3" placeholder="Enter password">
                            </div>
                            <div class="col-sm-auto">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Remember Me</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="button" class="btn btn-secondary btn-sm ml-auto" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-sm ml-1">Sign In</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div-->
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>MovieRecommendation</h1>
                    <div style="font-size: 20px;line-height: 40px;">Want to watch more movies like that favourite movie of yours? Type it in and Press Go to get the best movies just like the one you like!</div>
                </div>
                <div class="col-12 offset-sm-3 col-sm-3 align-self-center">
                    <img src="static/img/logo.png" class="img-fluid">
                </div>          
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5 style="font-weight: 300;">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a class ="footerlink" href="./">Home</a></li>
                        <li><a class ="footerlink" href="./aboutus">About</a></li>
                        <li><a class ="footerlink" href="./contactus">Contact</a></li>
                    </ul>
                </div>
                <!-- <div class="col-7 col-sm-5">
                    
		              <i class="fa fa-phone fa-lg"></i>: +91 981111111<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:jainam02@somaiya.edu">jainam02@somaiya.edu</a>
		           
                </div> -->
                <div class="col-4" style="margin-left: 40%;">
                    <div class>
                        <a href="http://www.facebook.com/profile.php?id=" class="fa fa-facebook"></a>
                        <a href="http://twitter.com/" class="fa fa-twitter"></a>
                        <a href="http://google.com/+" class="fa fa-google"></a>
                        <a href="http://www.linkedin.com/in/" class="fa fa-linkedin"></a>
                        <!-- <a class="btn fa fa-google-plus" href=""></a>
                        <a class="btnfa fa-facebook fa-lg" href=""><i class=""></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href=""><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href=""><i class="fa fa-twitter fa-lg"></i></a> -->
                        <!-- <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a> -->
                    </div>
                </div>
           </div>
           <div class="row justify-content-center" style="margin-top: 60px;">             
                <div class="auto">
                    <p>© Copyright 2021 MovieRecommendation</p>
                </div>
           </div>
        </div>
    </footer>
    <script src="static/scripts/jquery/dist/jquery.slim.min.js"></script>
<script type="text/javascript">
$(function(){
		$('.nav-item a').filter(function(){return this.href==location.href}).parent().addClass('active').siblings().removeClass('active')
		$('.nav-item a').click(function(){
			$(this).parent().addClass('active').siblings().removeClass('active')	
		})
	})
</script>
</body>
</html>
