<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scripts/bootstrap-social/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Movie Recommendation</title>
</head>

<body>
    {% extends "navbar.html" %}
    {% block content %}

      <div class="container">
        <div class="row row-content align-items-center">
            <ul class="movie-list">
                <h1>The Top 5 movies recommended for you are:</h1>
                <br>
                {% for i in range(sim_mov|length): %}
                <li>                    
                    <a href={{link[i]}}>                        
                        <div class="div_hover">
                            <figure class="rounded p-3 bg-white shadow-sm">
                                <img src={{img_list[i]|string}} alt="" class="w-50 card-img-top">
                                <figcaption class="p-4 card-img-bottom">
                                <h2>{{i+1}}] {{sim_mov[i]}}</h2>                            
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>    
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About</a></li>
                        <!--<li><a href="#">Blog</a></li>-->
                        <li><a href="/contactus">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    
		              <i class="fa fa-phone fa-lg"></i>: +91 981111111<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:jainam02@somaiya.edu">jainam02@somaiya.edu</a>
		           
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center ">
                        <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="auto">
                    <p>© Copyright 2021 MovieRecommendation</p>
                </div>
           </div>
        </div>
    </footer>
    {% endblock %}
<!--jQuery first,then Popper.js,then Bootstrap JS-->
<script src="static/scripts/jquery/dist/jquery.slim.min.js"></script>
<script src="static/scripts/popper.js/dist/umd/popper.min.js"></script>
<script src="static/scripts/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>
